/* Global Colors */
$color-kazi: #f2faff;
$background-color-kazi: #2c3e50;
$blue: cornflowerblue;
$red: #f56c6c;
$pageColor: #f2f3f5;
$regular-text-color: #606266;


$color-a0:   #001345;
$color-a1:   #011D66;
$color-a1-1: #002C9D;
$color-a1-2: #033AC6;
$color-a1-3: #0843D9;
$color-a2:   #0070FF;
$color-a2-1: #0188FF;
$color-a2-2: #189FFF;
$color-a2-3: #44B3FF;
$color-a2-4: #78C8FF;
$color-a2-5: #A7DAFF;
$color-a3:   #D1EBFF;
$color-a4:   #EBF7FF;

$color-b0:   #002E30;
$color-b0-1: #004143;
$color-b0-2: #005A5C;
$color-b0-3: #006D70;
$color-b1:   #007E81;
$color-b1-1: #00949A;
$color-b1-2: #00ABB6;
$color-b2:   #00B8C7;
$color-b2-1: #35CCD8;
$color-b2-2: #69DCE6;
$color-b2-3: #97F1F9;
$color-b3:   #BEF5F9;
$color-b4:   #E4FDFD;

$color-c0:   #012A00;
$color-c0-1: #043C03;
$color-c0-2: #004800;
$color-c0-3: #006300;
$color-c1:   #008700;
$color-c1-1: #009D00;
$color-c1-2: #00B300;
$color-c2:   #28CC12;
$color-c2-1: #4CDA39;
$color-c2-2: #74EB62;
$color-c3:   #A0F693;
$color-c4:   #CFFEC8;
$color-c4-1: #ECFFE9;

$color-d0:   #733A00;
$color-d0-1: #994D00;
$color-d0-2: #A9660C;
$color-d0-3: #B98019;
$color-d1:   #C99A25;
$color-d1-1: #E0B805;
$color-d1-2: #F2CE14;
$color-d1-3: #FFDD2C;
$color-d2:   #FFE457;
$color-d2-1: #FFE979;
$color-d2-2: #FFF0A1;
$color-d3:   #FEF4C0;
$color-d4:   #FFFAE1;

$color-e0:   #982D00;
$color-e0-1: #B83600;
$color-e0-2: #C84600;
$color-e0-3: #D85601;
$color-e1:   #E86601;
$color-e1-1: #f87702;
$color-e1-2: #fe8700;
$color-e1-3: #ff9400;
$color-e1-4: #ffa324;
$color-e2:   #ffb44c;
$color-e2-1: #ffca7f;
$color-e3:   #ffdfb1;
$color-e4:   #fff3e0;

$color-f0:   #4F0018;
$color-f0-1: #6C0021;
$color-f0-2: #83002D;
$color-f0-3: #990035;
$color-f1:   #B90040;
$color-f1-1: #d60044;
$color-f1-2: #E60045;
$color-f1-3: #F1205A;
$color-f2:   #F5396D;
$color-f2-1: #F75F89;
$color-f3:   #FF96B3;
$color-f3-1: #ffccd9;
$color-f4:   #ffebf1;

$color-g0:   #370035;
$color-g0-1: #4E004B;
$color-g0-2: #6B0567;
$color-g1:   #83087E;
$color-g1-1: #9A1594;
$color-g2:   #B026AA;
$color-g2-1: #C23BBC;
$color-g2-2: #CF5AC9;
$color-g2-3: #D473CF;
$color-g2-4: #DF8ADB;
$color-g3:   #EBA7E7;
$color-g3-1: #F9CFF7;
$color-g4:   #FFEBFE;

$color-h1:   #27024A;
$color-h1-1: #3C0073;
$color-h2:   #4C147F;
$color-h2-1: #5D298B;
$color-h2-2: #6D3E97;
$color-h2-3: #7E53A3;
$color-h2-4: #8E68AF;
$color-h2-5: #9F7CBB;
$color-h3:   #AF91CB;
$color-h3-1: #C0A6D6;
$color-h3-2: #D0BBE1;
$color-h3-4: #E1D0EC;
$color-h4:   #f2e5f7;

$color-gray00:  #000000;
$color-gray0:   #1A1A1A;
$color-gray0-1: #2E2E2E;
$color-gray0-2: #424242;
$color-gray0-3: #565656;
$color-gray1:   #6B6B6B;
$color-gray1-1: #878787;
$color-gray2:   #9E9E9E;
$color-gray2-1: #B0B0B0;
$color-gray2-2: #C7C7C7;
$color-gray2-3: #DDDDDD;
$color-gray3:   #E9E9E9;
$color-gray4:   #F7F7F7;
$color-gray5:   #979797;

$color-success: #6dd400;
$color-error: #e02020;