@import "~@/styles/variables.scss";
@import "~@/styles/colors.scss";

.text-text-color-regular {
  color: $regular-text-color;
}

section,
main,
div,
aside {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-gray2;
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
