// base color
$blue: cornflowerblue;
$red: #f56c6c;
$pageColor: #f2f3f5;

//header
$headerHeight: 60px;

//sideBat
$sideBarColor: rgb(238, 241, 246);

:export {
  blue: $blue;
  red: $red;
  pageColor: $pageColor;
  headerHeight: $headerHeight;
  sideBarColor: $sideBarColor;
}
