@import "~@/styles/colors.scss";

// base color
$blue: cornflowerblue;
$red: #f56c6c;
$pageColor: #f2f3f5;
$regularTextColor: #606266;

//header
$headerHeight: 64px;

//sideBar
$sideBarColor: $color-gray4;
