// base color
$blue: cornflowerblue;
$red: #f56c6c;

//header
$headerHeight: 60px;

//sideBat
$sideBarColor: rgb(238, 241, 246);

:export {
  blue: $blue;
  red: $red;
  headerHeight: $headerHeight;
  sideBarColor: $sideBarColor;
}
